services:
  backend:
    build: .
    container_name: splitwise-backend-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:latest
    container_name: splitwise-backend-db
    environment:
      POSTGRES_DB: splitwise
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    restart: always
